In [2]:
import pandas as pd


datafile = '../Data/County/kewi_water_test_and_results1.csv'
df = pd.read_csv(datafile,sep=',')

#take county and water alkalinity levels
alkaline_df = df[['COUNTY','ALKALINITY_Mg/L']]
alkaline_df

       COUNTY  ALKALINITY_Mg/L
0    Machakos              1.0
1     Kajiado              1.4
2      Kiambu              2.0
3    Murang'a              2.0
4     Nairobi              2.0
5    Murang'a              4.0
6     Kajiado              4.0
7      Kisumu              4.0
8     Kajiado              4.0
9      Kiambu              5.0
10     Nakuru              5.0
11     Nakuru              5.0
12   Murang'a              5.0
13    Kajiado              5.0
14   Murang'a              5.0
15    Somalia              5.0
16     Nakuru              5.0
17     Nakuru              5.0
18    Nairobi              5.0
19      Kitui              6.0
20      Kitui              6.0
21    Nairobi              6.0
22       Meru              8.0
23      Kitui              8.0
24    Nairobi              8.0
25     Kiambu              9.0
26    Nairobi              9.0
27    Nairobi              9.0
28    Kajiado              9.0
29    Nairobi              9.0
..        ...              ...
463  Machakos              NaN
464  Machakos              NaN
465  Machakos              NaN
466  Machakos              NaN
467  Machakos              NaN
468  Machakos              NaN
469  Machakos              NaN
470  Machakos              NaN
471   Kajiado              NaN
472   Kajiado              NaN
473   Kajiado              NaN
474   Makueni              NaN
475   Makueni              NaN
476   Makueni              NaN
477   Makueni              NaN
478   Makueni              NaN
479   Makueni              NaN
480     Kitui              NaN
481     Kitui              NaN
482     Kitui              NaN
483     Kitui              NaN
484  Machakos              NaN
485  Machakos              NaN
486  Machakos              NaN
487   Nairobi              NaN
488       NaN              NaN
489     Wajir              NaN
490   Kajiado              NaN
491    Kiambu              NaN
492     Kitui              NaN

[493 rows x 2 columns]

In [3]:
alkaline_df2 = alkaline_df.dropna()
alkaline_df2

       COUNTY  ALKALINITY_Mg/L
0    Machakos              1.0
1     Kajiado              1.4
2      Kiambu              2.0
3    Murang'a              2.0
4     Nairobi              2.0
5    Murang'a              4.0
6     Kajiado              4.0
7      Kisumu              4.0
8     Kajiado              4.0
9      Kiambu              5.0
10     Nakuru              5.0
11     Nakuru              5.0
12   Murang'a              5.0
13    Kajiado              5.0
14   Murang'a              5.0
15    Somalia              5.0
16     Nakuru              5.0
17     Nakuru              5.0
18    Nairobi              5.0
19      Kitui              6.0
20      Kitui              6.0
21    Nairobi              6.0
22       Meru              8.0
23      Kitui              8.0
24    Nairobi              8.0
25     Kiambu              9.0
26    Nairobi              9.0
27    Nairobi              9.0
28    Kajiado              9.0
29    Nairobi              9.0
..        ...              ...
362    Kiambu           1800.0
363  Machakos           1800.0
364    Kiambu           1800.0
365  Machakos           1800.0
366  Machakos           2200.0
367  Machakos           2300.0
368  Machakos           2400.0
369  Machakos           2400.0
370  Machakos           2400.0
371  Machakos           2400.0
372  Machakos           2600.0
373  Machakos           3000.0
374  Machakos           3000.0
375    Kiambu           3400.0
376  Machakos           3600.0
377  Machakos           3600.0
378  Machakos           3600.0
379  Machakos           5460.0
380  Machakos           5500.0
381  Machakos           5800.0
382  Machakos           5800.0
383    Kiambu           6200.0
384    Kiambu           6600.0
385  Machakos           7800.0
386  Machakos          10400.0
387  Machakos          10400.0
388  Machakos          13000.0
389   Nairobi          20000.0
390   Nairobi          20200.0
391   Nairobi          38600.0

[383 rows x 2 columns]

In [4]:
alkaline_df2.max()

COUNTY             wajir
ALKALINITY_Mg/L    38600
dtype: object

In [5]:
alkaline_df2.min()

COUNTY             Baringo
ALKALINITY_Mg/L          1
dtype: object

In [21]:
alkaline_df2['ALKALINITY_Mg/L'] = alkaline_df2['ALKALINITY_Mg/L'].astype('float64')
# ,dtype={'ALKALINITY_Mg/L':int}

ValueError: could not convert string to float: '20,000'